RewriteCond %{HTTP_HOST} ^lsdp\.co\.uk$
RewriteRule ^(.*)$ http://www.lsdp.co.uk [R=301,L]

Options +FollowSymLinks
RewriteEngine On

RewriteRule ^(.*)\.html$ $1.php [NC]
ErrorDocument 404 /404.php

AddType application/x-httpd-php .html .htm

<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    RewriteCond %{HTTP_HOST} ^anmmediallc\.com [NC]
    RewriteCond %{SERVER_PORT} 80
    RewriteRule ^(.*)$ https://www.anmmediallc.com/$1 [R=301,L]

    RewriteCond %{HTTP_HOST} ^www.anmmediallc\.com [NC]
    RewriteCond %{SERVER_PORT} 80
    RewriteRule ^(.*)$ https://www.anmmediallc.com/$1 [R=301,L]
</IfModule>

